@page "/Prestamos/Edit/{prestamoId:int}"
@inject PrestamosServices prestamosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Editar Préstamo</PageTitle>

<Toasts class="p-3 mt-5" Messages="messages" Placement="ToastsPlacement.TopRight" />

<div class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0">Editar Préstamo</h3>
    </div>

    <div class="card-body">
        <EditForm Model="prestamo" OnValidSubmit="GuardarPrestamo">
            <DataAnnotationsValidator />
            <ValidationSummary />

            @*Deudor*@
            <div class="mb-3">
                <label for="Deudor" class="form-label">Deudor</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person-fill"></i>
                    </span>
                    <InputText id="Deudor" @bind-Value="prestamo.Deudor" class="form-control" required />
                </div>
            </div>

            @*Concepto*@
            <div class="mb-3">
                <label for="Concepto" class="form-label">Concepto</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-card-text"></i>
                    </span>
                    <InputText id="Concepto" @bind-Value="prestamo.Concepto" class="form-control" required />
                </div>
            </div>

            @*Monto*@
            <div class="mb-3">
                <label for="Monto" class="form-label">Monto</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-currency-dollar"></i>
                    </span>
                    <InputNumber id="Monto" @bind-Value="prestamo.Monto" class="form-control" required />
                </div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-floppy mt-3"></i> Guardar
                </button>
                <button type="button" @onclick="Volver" class="btn btn-primary">
                    <i class="bi bi-arrow-left mt-3"></i> Volver
                </button>
            </div>
        </EditForm>

        @* Alertas *@
        @if (alertMessage != null)
        {
            <div class="mt-3">
                <Alert Color="@alertColor">@alertMessage</Alert>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public int prestamoId { get; set; }
    private Prestamos prestamo = new Prestamos();
    private List<ToastMessage> messages = new List<ToastMessage>();

    private string? alertMessage;
    private AlertColor alertColor;

    protected override async Task OnInitializedAsync()
    {
        prestamo = await prestamosServices.Buscar(prestamoId) ?? new Prestamos();
    }

    private async Task GuardarPrestamo()
    {
        if (await prestamosServices.Guardar(prestamo))
        {
            ShowMessage(ToastType.Success);
            ShowAlert("Préstamo editado con éxito.", AlertColor.Success);
            navigationManager.NavigateTo("/Prestamos/Index");
        }
        else
        {
            ShowMessage(ToastType.Warning);
            ShowAlert("Error al editar el préstamo.", AlertColor.Danger);
        }
    }

    private void Volver()
    {
        navigationManager.NavigateTo("/Prestamos/Index");
    }

    private void ShowMessage(ToastType toastType) => messages.Add(CreateToastMessage(toastType));

    private ToastMessage CreateToastMessage(ToastType toastType)
        => new ToastMessage
            {
                Type = toastType,
                Title = "Blazor Bootstrap",
                HelpText = $"{DateTime.Now}",
                Message = $"Préstamo {(prestamo.PrestamoId > 0 ? "modificado" : "creado")} con éxito. Fecha y hora: {DateTime.Now}",
            };

    private void ShowAlert(string message, AlertColor color)
    {
        alertMessage = message;
        alertColor = color;
    }
}
